body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #808080;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  color: #808080;
}

.main-title p {
  font-size: 28px;
  font-weight: 700;
  color: #808080;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #343a40;
  border-bottom: 1px solid #bfbfbf;
  padding: 135px 0 36px 0;
  text-align: center;
}

.about p {
  font-size: 18px;
  line-height: 1.75;
}